</header>
</body>
<div id="grid">
<% for(let i = 0; i < list.length; i ++){ %>
    <a href="/_id">
        <h2 id="name"><%=list[i].title%></h2>
    <img class="shadowImg" src="<%=list[i].img%>"/> 
</a>
<% } %>
</div>