
<div id="navC">
    <nav class="sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <a  id="navW" href="/"> ◇ Homepage ◇ </h5>
                <a  id="navW" href="/about"> ◇ About Me ◇ </a>
                <a id="navW" href="/custom"> ◇ Collections ◇ </a>
                <a id="navW" href="/contact"> ◇ Let's Get in Touch! ◇ </a>
             
            
</div>
</nav>
</div>

