<div id="navC">
    <nav class="sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <a  id="navW" href="/"> ◇ Homepage ◇ </h5>
              <a id="navW" href="/collab"> ◇ Collaborations ◇</a>
              <a id="navW" href="/custom"> ◇ Custom Works ◇ </a>
              <a id="navW"> ◇ Let's Get in Touch!◇ </a>
            </a>
        </div>
      </nav>
    </div>