<!DOCTYPE html>
<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <p>ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Et alias quam debitis tenetur earum, accusantium quisquam doloremque quaerat tempora excepturi! Perspiciatis praesentium eius quasi assumenda veniam. Deleniti tempora hic repellat.ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas consequuntur sit quis iusto quam. Libero at quis expedita dicta, ullam nihil voluptatum suscipit distinctio non commodi recusandae neque magni praesentium! ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro non eligendi enim omnis. Neque numquam excepturi nisi quas hic cupiditate natus eum, alias veniam incidunt suscipit impedit quia blanditiis obcaecati?</p>
    </body>
</html>
