<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body id="collab">
  <%- include('../partials/nav.ejs') %>
    <h1 id="toH">Let's Work Together!</h1>

   <div class="info">
   <p>ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam quam amet ratione soluta maiores doloribus, at veniam consequuntur veritatis dicta id eum ex voluptatum asperiores voluptate itaque </p>
   </div>
   <div id="photoB">
   <div class="form">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your Awesome Idea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button id="bar" type="submit" value="submit">Message Me</button>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>