<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id="collectionsBox">
        <a id="collectionName-1" href="/shadow"> Shadow <br/> Work </h5>
         <a id="collectionName-2" href="/nature">Nature <br/> Series</a>
         <a id="collectionName-3" href="/blackandwhite">Black <br/> & <br/> White</a>
         <a id="collectionName-4" href="/film"> Real <br/>People</a>
     </div>
</div>
</body>
</html>