<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Photo</h1>
    <form action="/" method="POST">
        title: <input type="text" name="title"/><br/>
        img: <input type="text" name="img"/><br/>
        about: <input type="text" name="about"/><br/>
        location: <input type="text" name="location"><br/>
        inspiration: <input type="text" name="inpiration"><br/>
        price: <input type="number" name="price"/><br/>
        <input type="submit" value="create"/>
    </form>
</body>
</html>