<!DOCTYPE html>
    <html lang="en">
        <%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Add a New Photo</h1>
    <form action="/" method="POST">
        type: <input type="text" name="type"><br/>
        title: <input type="text" name="title"/><br/>
        img: <input type="text" name="img"/><br/>
        about: <input type="text" name="about"/><br/>
        location: <input type="text" name="location"><br/>
        inspiration: <input type="text" name="inpiration"><br/>
        <input type="submit" value="create"/>
    </form>
</body>
</html>