<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <header id="shadowHead">
        <h1 id="titleShadow">Shadow Work</h1>
        <h2>We all have shadows, <br/> care to see mine?</h2>
    <%- include('../partials/collect.ejs') %>
</body>
</html>


