<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <% if(collected.title && collected.about){ %>
    <h1><%=collected.title%></h1>
    <h1><%=collected.about%></h1>
    <% } %>
</body>
</html>